<!DOCTYPE html>

<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/favicon.png">
        <link href="/css/styles.css" rel="stylesheet">
        
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>Use this site to get your Weather</p>

            <form>
                <input placeholder="Location">
                <button>Search</button>
            </form>

            <p id="weather_title">

            </p>
            <p id="weather_message">

            </p>
        </div>

        {{>footer}}

        <script src="/js/app.js" type="text/javascript"></script>
    </body>

</html>